/* ======================================================================
                        MOBILE-FIRST (386px mockup +-)
========================================================================= */

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  max-width: 88%;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  line-height: 1.6;

  margin-top: 0.5em;
}

p:last-child {
  margin-bottom: 1em;
}

/* ======================================================================
                        Customizing the media player skin
========================================================================= */

.mejs__controls:not([style*="display: none"]) {
  background: #cf5f70;
}

.mejs__time-current {
  background: #ff0046;
}

.mejs__time-float {
  border: solid 2px red;
  color: #111;
}

.mejs__time-float-corner {
  border-width: 7px;
  border-color: black transparent transparent transparent;
}

/* ======================================================================
                        TABLET-DESKTOP (1068px mockup +-)
========================================================================= */

@media (min-width: 768px) {

  body {
    max-width: 1000px;
    margin: 0 auto;
  }

  .container {
    margin-top: 1.6em;
    margin-left: 7.5em;
    margin-right: 7.5em;
  }

  .text-container {
    max-width: 100%;

    font-size: 0.95em;
    line-height: 2.2;
  }

  p {
    max-width: 750px;
  }
  p:last-child {
    margin-bottom: 5%;
  }

}






/**/
