* {
  box-sizing: border-box;
}

/* ======================================================================
                        MOBILE (386px mockup +-)
========================================================================= */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  /*width: 100%;*/
  /*align-self: center;
  justify-content: center;
  align-items: center;
  width:80%;
	max-width: 640px;*/
	/*margin: 0 auto;*/
}

.text-container {
  max-width: 88%;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  line-height: 1.6;

  margin-top: 1em;
}

p:last-child {
  margin-bottom: 1em;
}


.videoContainer .mejs-container.svg.mejs-video,
.videoContainer .mejs-overlay.mejs-layer.mejs-overlay-play,
.videoContainer .mejs-poster.mejs-layer,
.videoContainer .mejs-captions-layer.mejs-layer,
.videoContainer video{
   /*margin: 0 !important;*/
   /*text-align: center;*/
   /*width: 100% !important;*/
   /*width: 852px !important;*/
   /*height: auto !important;*/
 }
/*.videoContainer{
   padding-bottom: 75%;
   position: relative;
  }*/
/*.videoContainer .mejs-layer, .videoContainer .mejs-container,
.videoContainer .mejs-overlay {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: auto !important;
}*/




/* ======================================================================
                        TABLET-DESKTOP (1068px mockup +-)
========================================================================= */

@media (min-width: 768px) {

  body {
    max-width: 1000px;
    margin: 0 auto;
  }

  .container {
    margin-top: 1.6em;
    margin-left: 7.5em;
    margin-right: 7.5em;
  }

  .text-container {
    font-size: 0.95em;
    line-height: 2.2;
  }

  p {
    max-width: 750px;
  }
  p:last-child {
    margin-bottom: 5%;
  }


  /*.videoContainer .mejs-container.svg.mejs-video,
  .videoContainer .mejs-overlay.mejs-layer.mejs-overlay-play,
  .videoContainer .mejs-poster.mejs-layer,
  .videoContainer .mejs-captions-layer.mejs-layer,
  .videoContainer video{
     margin: 0 !important;
     text-align: center;
     width: 100% !important;
     width: 852px !important;
     height: auto !important;
   }*/
  /*.videoContainer{
     padding-bottom: 75%;
     position: relative;
    }*/
  /*.videoContainer .mejs-layer, .videoContainer .mejs-container,
  .videoContainer .mejs-overlay {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: auto !important;
  }*/

}













/**/
